<?xml version="1.0"?>
<roleManager enabled="true" defaultProvider="WarehouseManagementRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieRequireSSL="true" cookieProtection="All" domain=".wim.local" cookiePath="/">
    <providers>
        <add name="WarehouseManagementRoleProvider" type="WarehouseInventoryManagement.Common.Membership.WarehouseManagementRoleProvider" />
    </providers>
</roleManager>