@using WarehouseInventoryManagement.Models.Models.User
@using WarehouseInventoryManagement.Tools
@{
    Layout = MVC.Shared.Views.Layouts.BaseLayout;
}

				<!-- Box -->
<div class="box">
    <!-- Box Head -->
    <div class="box-head">
        <h2 class="left">Vartotojai</h2>
        <div class="right">
            @Html.Partial(MVC.User.Views.Partial.ListSearch, Model)

        </div>
    </div>
    <!-- End Box Head -->	

    <!-- Table -->
    <div class="table">
	
                        
@*        @Html.Grid(Model.Users).Sort(Model.GridSortOptions).Columns(column =>
            {
                column.For(f => f.Id).Named("#").SortColumnName("Id").HeaderAttributes(@style => "width:35px").Attributes(@class => "aright");
                column.For(f => f.UserName).Named("Prisijungimo vardas").SortColumnName("UserName");
                column.For(f => f.FirstName).Named("Vardas").SortColumnName("Name").Sortable(false);
                column.For(f => f.LastName).Named("Pavardė").SortColumnName("LastName");
    
                column.For(f => Html.Partial(MVC.User.Views.Partial.Controls, f)).Named("Valdymas").Sortable(false).HeaderAttributes(@style => "width:115px");
            }
             ).Attributes(@id => " productListTable", @class => "data-table buttons-cell tablesorter", @width =>"100%", @cellspacing => "0", @cellpadding => "0"
             ).RenderUsing(new EmptyHeaderHtmlTableGridRenderer<UserViewModel>(Model.ControllerName, Model.ActionName))
                        
        @{
            var link = Url.Action(Model.ActionName, Model.ControllerName);
        }

        <div class="pagging">
            <div class="right">
                @Html.Partial(MVC.Shared.Views.Partial.Pager, Model.Users, new ViewDataDictionary { { "Url", @link } })
            </div>
					        
        </div>*@
    </div>
    <!-- Table -->
					
</div>